<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/"><%= t "static_pages.home.document" %></a>
    by <a href="http://www.michaelhartl.com/"><%= t "footer.author" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("footer.about_h1"), about_path %></li>
      <li><%= link_to t("footer.contact_h1"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t "footer.news" %></a></li>
    </ul>
  </nav>
</footer>
